html{
    height: 100%;
}

body{

    font-family: 'Maven Pro', sans-serif;
    background-image: linear-gradient(90deg, 	#e9c70c, #ff69b4	);
}

header {
    background-color: black	;
    padding: 20px;
    text-align: center;
    width: 100wh;
}
h1 {
    color: white;
    font-size: 36px;
}

#myCanvas {
    position: absolute;
    top: 295px;   
    left: 250px;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.229);
    border-radius: 2%;
    }

#inputImage{
    color: white;
    position: absolute;
     top: 605px;   
    left: 250px;
} 

#display_image_2 {
    position: absolute;
    top: 295px;   
    right: 250px;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.229);
    /* background-position: center;
    background-size: cover; */
    border-radius: 2%;
    }


.arrow {
    position: absolute;
    border: solid white;
    top: 450px;
    right: 20px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    fill: white;
    }